/* Reset box-sizing for all elements */
* {
    box-sizing: border-box;
  }
  
  /* Prevent horizontal overflow */
  html, body {
   
  }
  
  /* General service box styling */
  .service-box {
    margin-top: 5rem;
  }
  
  .service-box-2 {
    margin-top: 3rem;
  }
  
  .service-box-flex {
    display: flex;
    align-items: center;
    overflow: hidden; /* Prevent children from causing overflow */
  }
  
  .service-box-1 img {
    width: 59px;
  }
  
  .service-box-1 h4 {
    font-weight: bolder;
  }
  
  .service-box-1 p {
    margin-left: 4rem;
    color: #616770;
  }
  
  /* Service container */
  .services {
    background-color: #101010;
    color: white;
    padding: 100px 0;
    overflow: hidden; /* Prevent overflow issues */
  }
  
  /* Amazing services section */
  .amazing-services {
    opacity: 0;
    transform: translateX(100vw);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    max-width: 100%; /* Ensure no overflow */
  }
  
  .amazing-services.in-view {
    opacity: 1;
    transform: translateX(0);
  }
  
  .amazing-services h1 {
    font-weight: bolder;
    font-family: Arial;
  }
  
  .amazing-services p {
    color: #616770;
  }
  
  .amazing-services-firstp {
    color: var(--yellow-color) !important;
  }
  
  /* Services button */
  .services-btn {
    margin-top: 2rem;
    padding: 15px 5px;
    width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    color: black;
    font-weight: bolder;
    transition: all 0.3s ease;
    cursor: pointer;
    font-family: Raleway, sans-serif;
    line-height: 32px;
  }
  
  .services-btn:hover {
    background-color: var(--main-bg-color);
    color: white;
    transform: scale(0.88);
    border-width: 0.1ch;
    border-color: var(--yellow-color);
  }
  
  /* Responsive styles */
  @media screen and (max-width: 1020px) {
    .services {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  
  @media screen and (max-width: 567px) {
    .service-box-flex {
      flex-direction: column;
    }
    
    .service-btn-main {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }
  
  @media screen and (max-width: 185px) {
    .service-box-1 p {
      margin-left: 0;
    }
  }
  